#
#======================= Global Settings =======================

[global]
  clustering = yes
  dns proxy = no
  idmap backend = tdb2
  log file = /var/log/samba/log.%m
  map to guest = bad user
  max log size = 1000
  obey pam restrictions = yes
  pam password change = yes
  panic action = /usr/share/samba/panic-action %d
  passdb backend = tdbsam
  passwd chat = *Enter\snew\s*\spassword:* %n\n *Retype\snew\s*\spassword:* %n\n *password\supdated\ssuccessfully* .
  passwd program = /usr/bin/passwd %u
  private dir = {{ ctdb_lock_folder }}
  server role = standalone server
  server string = %h server (Samba, Ubuntu)
  syslog = 0
  unix password sync = yes
  usershare allow guests = yes
  workgroup = {{ ctdb_samba_global_options.workgroup }}

## Shares ##
[printers]
  comment = All Printers
  browseable = no
  path = /var/spool/samba
  printable = yes
  guest ok = no
  read only = yes
  create mask = 0700

# Windows clients look for this share name as a source of downloadable
# printer drivers
[print$]
  comment = Printer Drivers
  path = /var/lib/samba/printers
  browseable = yes
  read only = yes
  guest ok = no

{% for item in ctdb_samba_shares %}
[{{ item.name }}]
  comment = {{ item.comment }}
  path = {{ item.path }}
  read only = {{ item.read_only|lower }}
  guest ok = {{ item.guest_ok|lower }}

{% endfor %}
